### Heroes Of Pymoli Observable Trends
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  





*** The age group that spends the most money is the 20-24 with 1,114.06 dollars as total purchase value and an average purchase of 4.32. In contrast, the demographic group that has the highest average purchase is the 35-39 with 4.76 and a total purchase value of 147.67.


*** The most popular purchase item is "Oathbreaker, Last Hope of the Breaking Storm" with a total purchase value of $5.76

*** The top three most profitable items within the game are "Oathbreaker, Last Hope of the Breaking Storm, Nirvana, and Fiery Glass Crusader" with an item price of $4.23,$4.90, and $4.58.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#create a data frame with total number of players
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#calculate unique items, average price, purchase count, and total price
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_price = (purchase_data["Price"]).sum()

#create summary data frame 
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_price]})

#display summary data frame
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#group player data by gender 
gender_stats = purchase_data.groupby("Gender")

#get total screen names by gender
total_count_gender = gender_stats.nunique()["SN"]

#find percentage of players  
percentage_of_players = total_count_gender / total_players * 100

#make data frame for gender demographics 
gender_demographics = pd.DataFrame({"Total Count": total_count_gender, 
                                    "Percentage of Players": percentage_of_players})

#format into decending order with two decimal places 
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Run basic calculations to obtain purchase count, avg purchase price, avg purchase total per person by gender
#purchase count
purchase_count = gender_stats["Purchase ID"].count()
#average pruchase price
avg_purchase_price = gender_stats["Price"].mean()
#total purchase value
avg_purchase_total = gender_stats["Price"].sum()
#average purchase total per person
avg_purchase_per_person = avg_purchase_total/total_count_gender

#Create a summary data frame to hold the results
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})
#Display the summary data frame
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins.
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#Calculate the numbers and percentages by age group
age_group = purchase_data.groupby("Age Group")
total_count_age = age_group["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
    
#make summary data frame
age_demographics = pd.DataFrame({"Total Count": total_count_age, 
                                 "Percentage of Players": percentage_by_age})

#diplay table with format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.
#purchase count
purchase_count_age = age_group["Purchase ID"].count()
#average purchase price
avg_purchase_price_age = age_group["Price"].mean()
#total purchase value
total_purchase_value = age_group["Price"].sum()
#average total purchase per person
avg_purchase_per_person_age = total_purchase_value/total_count_age

#make summary data frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})
#format table with currency 
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# group the data by screen names
spenders_stats = purchase_data.groupby("SN")

# get purchase count by counting purchase by name
purchase_count_spend = spenders_stats["Purchase ID"].count()

# find average purchase price
ave_purchase_price_spend = spenders_stats["Price"].mean()
                                          
# calculate the total purchase values
total_purchase_spend = spenders_stats["Price"].sum()

# make a summary data frame
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spend,
                            "Average Purchase Price": ave_purchase_price_spend,
                            "Total Purchase Value": total_purchase_spend})
# Sort the total purchase value column in descending order
descend_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending = False)

# format table for currency
descend_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                              "Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})
descend_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# select the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
# 1 group by Item ID and Item name
item_group = items.groupby(["Item ID", "Item Name"])

# 2 calculate purchase count, item price, and total purchase value
# purchase count
count_item = item_group["Price"].count()
# total purchase value
item_purchase_val = item_group["Price"].sum()
# item price
item_price = item_purchase_val/count_item

# make summary data frame
most_pop_items = pd.DataFrame({"Purchase Count": count_item,
                              "Item Price": item_price,
                              "Total Purchase Value": item_purchase_val})

# Sort the purchase count column in descending order
descend_pop_items = most_pop_items.sort_values(["Purchase Count"], ascending = False)

# foramt table for currency
descend_pop_items.style.format({"Item Price":"${:,.2f}",
                              "Total Purchase Value":"${:,.2f}"})
descend_pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort the above table by total purchase value in descending order
descend_pop_items = most_pop_items.sort_values(["Total Purchase Value"], ascending = False)

# format table for currency
descend_pop_items.style.format({"Item Price":"${:,.2f}",
                              "Total Purchas Value":"${:,.2f}"})
descend_pop_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80